<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>Online Organizer</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css" />

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

  <!-- fontawesome-->
  <script src="https://kit.fontawesome.com/33cd24ebe2.js" crossorigin="anonymous"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  <script src="app.js"></script>
  <script src="controller/MainController.js"></script>

</head>

<body ng-app="OnlineOrganizer" ng-controller="MainController">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 m-0 p-0">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand font-weight-bold" href="/"><span class="far fa-newspaper"></span> Online Organizer</a>
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <a href="https://github.com/Thamaltw97"><h1><span class="fa fa-github"></span></h1></a>
        </form>
      </nav>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <span ng-if="expDate === 0"><b>Next Event Remainder  :   Currently no events available</b></span>
          <span ng-if="expDate !== 0"><b>Next Event Remainder  :   {{nextEventRemainder}}</b></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row ml-1 mt-5 col-md-12 container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-6" >
      <span><h3>Add Event</h3></span>
      <form class="mt-2">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Event Name :</label>
            <input type="text" class="form-control form-control-sm" id="name" placeholder="Enter event name" ng-model="eName" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="date">Date :</label>
            <input type="text" class="form-control form-control-sm" id="date" value="{{startDate | date:shortDate}}" disabled />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="time">Start Time :</label>
            <input type="time" class="form-control form-control-sm" id="time" placeholder="Enter start time" ng-model="eTime" />
          </div>
        </div>
        <div class="row col-md-6">
          <button type="button" class="btn btn-primary btn-md btn-block mt-2" ng-click="fnAddEvent()" >
            <span ng-if="!edited">Submit</span>
            <span ng-if="edited">Edit</span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <md-calendar ng-model="startDate" ng-change="fnHandleDate()"></md-calendar>
    </div>
  </div>

  <div class="row mt-5 mb-1">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          Events on : <span>{{startDate | date:shortDate}}</span>
        </div>
        <ul class="list-group" ng-repeat="event in dateList">
          <li class="list-group-item">
            {{event.eTime}} | {{event.eName}}
            <span class="text-danger float-right" ng-click="fnDeleteEvent(event.id)"><i class="fas fa-trash"></i></span>
            <span class="text-success float-right mr-3" ng-click="fnEditEvent(event.id)"><i class="fas fa-pen"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
<!--  <ParticlesBg type="cobweb" bg={true} />-->
</div>

<div>
  <Footer color="blue" class="footer font-small pt-1 mt-1">
    <div class="footer-copyright text-center py-1">
        Made with ❤ by Thamal Wijetunge.
    </div>
  </Footer>
</div>

<!--End of body-->
</body>

</html>